
<div class="row marketing">
<p class="lead">Don't waste your time waiting in line. Let us do the waiting for you !
We will call you back as soon as a real person is answering the hotline.</p>
</div>

<div class="jumbotron">
  <form>
    <div class="form-group">
        <h3>Hotline</h3>
        <select ng-model="model.selectedProvider" class="form-control input-lg"
        ng-options="option.label for option in model.providers track by option.key">
      </select>
    </div>

    <div class="form-group">
      <h3>Your number</h3>
      <input type="text" ng-model="model.customerNumber" class="form-control input-lg" id="exampleInputEmail1" placeholder="Telephone number">
    </div>

    <div class="form-group">
      <button class="btn btn-success" ng-click="call()">Call for me</button>
    </div>
  </form>
</div>
